.blue{
    color: #35aad8;
}
footer{
    
    height: 240px;
    padding-top: 32px;
    /* background-color: #ccc; */
}
footer .fl{
    width: 480px;
}
footer p{
    height: 46px;
    line-height: 18px;
    padding-top: 26px;
}
footer .fl a{
    display: block;
    height: 34px;
    width: 118px;
    left: 34px;
    text-align: center;
    border: 1px solid #35aad8;
    line-height: 34px;
    margin-top: 26px;
}
footer dl{
    float: left; 
    margin-left: 140px;

}
footer dt{
    height: 32px;
    color: #333333;
    font-weight: 700;
}
footer dd a{
    display: block;
    height: 22px;
    font-size: 12px;
    color: #35aad8;
}
footer dd a:hover{
    color: blue;
}
