main{
    background-color: #f5f5f5;
}
.first{
    /* margin-top: 45px; */
    background-color: #f5f5f5;
    width: 1200px;
    margin: 0 auto;
    padding: 45px 0;
}
.under{
    border: 1px;
    width: 600ox;
}
.v{
    width: 570px;
    height: 290px;
}
.verb{
    width: 600px;
    height: 290px;
    background-color: #ccc;
    padding-left: 16px;
}

.time{
    height: 100px;
    padding-top: 4px;
    padding-left: 32px;
    /* background-color: rgb(196, 195, 195); */
} 
.join{
    margin-top: 32px;
}
.second{
    margin-top: 45px;
    /* margin-bottom: 80px; */
    background-color: #f5f5f5;
}
.detail{
    width: 900px;
    padding: 20px 40px;
    background-color: #fff;
}
.smallnav{
    /* height: 50px;
    line-height: 50px; */
}
.smallnav a{
    display: block;
    height: 40px;
    width: 80px;
    line-height: 40px;
}
.smallnav a:hover{
    border-bottom: 10px solid green;
}
.detail>p{
    background-color: #f5f5f5;
}
.course li{
    padding: 16px 0;
}
.about{
    height: 240px;
    width: 270px;
    background-color: #fff;
    padding: 16px 32px;
    /* margin-left: 20px; */
}
.school{
    height: 100px;
    border-bottom: 1px solid black;
}
.teacher{
    padding: 18px 0;
    
}