.v{
    width: 570px;
    height: 360px;
    position: relative;
}
.under{
    border: 1px;
    width: 600ox;
}
.jieshao{
    position: relative;
    float: right;
    left: -200px;
    top: -380px;
}
 .kaike{
     padding: 20px 20px 20px 20px;
    border: 1px solid black;
    top: 40px;
    position: relative;
    background-color: rgb(196, 195, 195);
  
    
}
.canjia{
    position: relative;
    top: 100px; 
    COLOR: rgb(241, 18, 18);
    size: 300px;

}